@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Varela Round", "Quicksand", sans-serif;
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.postcard,
.postcard1 {
  width: 90%;
  max-width: 800px;
  height: auto;
  padding: 2em;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.postcard {
  background: rgba(255, 255, 255, 0.101);
  transform: rotate(2.5deg);
}

.postcard1 {
  background: #fefefe62;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(2.5deg);
  -webkit-filter: blur(2px);
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 4vw; /* Responsive font size */
  color: #683cb5;
  margin-bottom: 10px;
}

/* Hover Animation */
.postcard:hover {
  transform: rotate(0deg);
}

/* Mail Stamp */
.mail_stamp {
  width: 80px;
  float: right;
}

.push {
  margin: 1em 0;
}

/* Footer */
footer {
  margin: 2em auto;
  text-align: center;
  font-family: "Varela Round", "Quicksand", sans-serif;
  color: white;
}

footer p {
  font-size: 1em;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  font-family: cursive;
  font-weight: 540;
}

p span {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 10 10 20px rgb(255, 255, 255);
  color: #ff0055;
}

.ullu {
  font-size: 25px;
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

/* Responsive Design */
@media (max-width: 768px) {
  .postcard {
    padding: 1.5em;
    background-color: transparent;
    color: white;
  }

  .postcard1 {
    width: 95%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(2.5deg);
  }

  p span{
    border-color: white;
  }

  h1 {
    font-size: 5vw;
  }

  .mail_stamp {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .postcard {
    padding: 1em;
  }

  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 14px;
  }

  .mail_stamp {
    width: 50px;
  }
}
